# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Terraform-related files and folders
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
